.profile {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 3px;
  
    background-color: azure;
    cursor: pointer;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .profile:hover {
    scale: 1.02;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    width: 250px;
    border-radius: 50%;
    border: 2px solid rgb(119, 168, 19);
  }
  
  .name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .tag {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
  }
  .location {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
  }
  
  .stats {
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  .list {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    border: 2px solid rgb(0 0 0 / 40%);
    border-radius: 3px;
  }
  .label {
    display: block;
    margin-bottom: 10px;
  }
  .quantity {
    font-weight: 700;
    font-size: 20px;
  }